@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}